.trafficTop{
    background-color: black;
    width: 10px;
    height: 50px;
}

.container {
    background-color: black;
    width: 100px;
    height: 200px;
    border-radius: 10px;
}

div.container div:hover{
    cursor: pointer;
}

.selected{
    color: white;
    box-shadow: 0 5px 15px #afe0f5;
}